Geert Vandezande

Doel:
- Supervised Learning toepassen
- EDA uitvoeren op een dataset
- Lineair Regression toepassen op de data

Dataset: 
- More info: see kaggle https://www.kaggle.com/datasets/arifmia/heart-attack-risk-dataset


Volgorde van activiteiten in deze notebook: (cfr Datacamp "preparing data for modelling)
- data inlezen
- data bekijken, visueel en numerisch
- missing data oplossen 
- incorrect types controleren
- Numerische waarde standardizeren
- Categorische varaiabelen processen
- Feature engineering
- select features for modelling

In [2]:
# importeren van modules

import pandas as pd
import numpy as np


data_set_filename = "data\\heart_attack_risk_dataset.csv"

df_raw = pd.read_csv(data_set_filename)

df_raw.info()
df_raw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      50000 non-null  int64
 1   Gender                   50000 non-null  object
 2   Smoking                  50000 non-null  int64
 3   Alcohol_Consumption      50000 non-null  int64
 4   Physical_Activity_Level  50000 non-null  object
 5   BMI                      50000 non-null  float64
 6   Diabetes                 50000 non-null  int64
 7   Hypertension             50000 non-null  int64
 8   Cholesterol_Level        50000 non-null  float64
 9   Resting_BP               50000 non-null  int64
 10  Heart_Rate               50000 non-null  int64
 11  Family_History           50000 non-null  int64
 12  Stress_Level             50000 non-null  object
 13  Chest_Pain_Type          50000 non-null  object
 14  Thalassemia              50000 non-null  object
 15  Fasting_Blood_Sugar      50000 non-null  int64
 16  ECG_Results              50000 non-null  object
 17  Exercise_Induced_Angina  50000 non-null  int64
 18  Max_Heart_Rate_Achieved  50000 non-null  int64
 19  Heart_Attack_Risk        50000 non-null  object
dtypes: float64(2), int64(11), object(7)
memory usage: 7.6+ MB

,Age,Smoking,Alcohol_Consumption,BMI,Diabetes,Hypertension,Cholesterol_Level,Resting_BP,Heart_Rate,Family_History,Fasting_Blood_Sugar,Exercise_Induced_Angina,Max_Heart_Rate_Achieved
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000
mean,53.398700,0.298420,0.401980,27.519357,0.198840,0.29738,225.036444,134.434100,94.530480,0.30034,0.149360,0.201640,149.305340
std,20.799006,0.457569,0.490303,7.225176,0.399131,0.45711,43.317373,25.907961,20.187124,0.45841,0.356447,0.401229,28.823699
min,18.000000,0.000000,0.000000,15.000000,0.000000,0.00000,150.000000,90.000000,60.000000,0.00000,0.000000,0.000000,100.000000
25%,35.000000,0.000000,0.000000,21.270000,0.000000,0.00000,187.300000,112.000000,77.000000,0.00000,0.000000,0.000000,124.000000
50%,53.000000,0.000000,0.000000,27.540000,0.000000,0.00000,225.100000,134.000000,94.000000,0.00000,0.000000,0.000000,149.000000
75%,71.000000,1.000000,1.000000,33.770000,0.000000,1.00000,262.600000,157.000000,112.000000,1.00000,0.000000,0.000000,174.000000
max,89.000000,1.000000,1.000000,40.000000,1.000000,1.00000,300.000000,179.000000,129.000000,1.00000,1.000000,1.000000,199.000000